NEXT_PUBLIC_SUPABASE_URL=https://pisnrogqkscrgusfxbfq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_I2v0KOGP59tcNh0ngafLZw_xzIOLUKQ
SUPABASE_SECRET_KEY=sb_secret_216lrGKov740wQ8CKL07kg_3r9m1Pg0
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyABIXMSGq3p-mYNTn_nrvWtDtdHuDdxlhs
OPENAI_API_KEY=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
NEXT_PUBLIC_DEMO_MODE=true
